.loginbody {
  position: absolute;
  top: 80px;
  bottom: 80px;
  display: flex;
  width: 100%;
  height: auto;
  background-color: white;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.loginwrap {
  position: relative;
  width: 100%;
  max-width: 440px;
  height: 100%;
  max-height: 560px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color);
  border-radius: 10px;
}

.loginlogo {
  position: absolute;
  font-size: 35px;
  font-weight: 600;
  top: 50px;
  width: 50%;
}

.idwrap,
.pwwrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 90px;
  position: relative;
  display: flex;
  margin-bottom: 10px;
}

.idlabel,
.pwlabel {
  font-size: 13px;
  position: absolute;
  top: -2px;
  left: 2px;
  color: #656565;
  font-weight: 500;
}

.id,
.pw {
  border: solid 2px #cccccc;
  width: 400px;
  height: 30px;
  max-height: 50px;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
}

.loginbtnwrap {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
}

.loginbtn {
  margin-top: -60px;
  margin-bottom: 20px;
  width: 400px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: black;
  font-size: 18px;
  color: white;
  font-weight: 400;
}

.fun {
  display: flex;
  justify-content: space-between;
  width: 160px;
}

.sep {
  color: #8a8a8a;
}

.goregist,
.gofindpw {
  text-decoration: none;
  color: #8a8a8a;
  font-size: 15px;
}
