.navbody {
  position: absolute;
  top: 80px;
  bottom: 80px;
  display: flex;
  width: 100%;
  height: auto;
  background-color: white;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.space {
  width: 1000px;
  height: auto;
  justify-content: space-around;
  display: flex;
}

@media (max-width: 1024px) {
  .space {
    align-items: center;
    flex-direction: column !important;
    height: 70%;
  }
}

.sa {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.clickbox {
  width: 270px;
  height: 480px;
  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 16px 0px;
  border-radius: 30px;
  transition: 0.3s box-shadow;
  transform: translateY(0);
  transition: transform 0.3s ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

@media (max-width: 1024px) {
  .clickbox {
    width: calc(100% - 80px);
    height: calc(100% - 80px);
  }
}

.vector {
  width: 100px;
  height: 100px;
}

.name {
  text-decoration: none;
  color: black;
  font-size: 22px;
  font-weight: 500;
}

.clickbox:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 16px 0px;
  transform: translateY(-7px);
  transition-delay: 0s;
}

.summary {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
  border-radius: 0px 0px 30px 30px;
  background-color: black;
  position: absolute;
  bottom: 0px;
  color: white;
  font-size: 18px;
  font-weight: 400;
}
